<div class="container">

  <h1>Create New Cocktail</h1>

  <%= render 'form', cocktail: @cocktail %>

  <br>
  <%= link_to ("<p class='btn btn-danger'>Back</p>").html_safe, cocktails_path %>

  <br>
  <%= link_to ("<p class='btn btn-dark'>Browse all Cocktails</p>").html_safe, cocktails_path %>
  <%= link_to ("<p class='btn btn-dark'>Browse by Ingredients</p>").html_safe, ingredients_path %>
</div>
