<div class="container">
  <h1>Browse by Spiritus</h1>

    <% @ingredients.each do |ingredient| %>
    <h2><%= ingredient.name %></h2>
      <ul>
        <% ingredient.cocktails.each do |cocktail| %>
          <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
        <% end %>
      </ul>
    <% end %>
  <%#= link_to "create new ingredient", new_ingredient_path %>
  <%= link_to ("<p class='btn btn-sm btn-dark'>Browse Cocktails</p>").html_safe, cocktails_path %>

</div>
