<div class="container">
  <h1>Cocktails with <%= @ingredient.name %></h1>

  <% @ingredient.cocktails.each do |cocktail| %>
    <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
  <% end %>

  <%= link_to "back to ingredients", ingredients_path %>
</div>
