<div class="container">

  <h1>MISTER COCKTAIL</h1>
  <%= link_to ("<p class='btn btn-dark'>Browse all Cocktails</p>").html_safe, cocktails_path %>
  <br>
  <%= link_to ("<p class='btn btn-dark'>Browse by Spiritus</p>").html_safe, ingredients_path %>
</div>
